# built / compiled objects
bin/*
redist/*
rel/*

# working library, for archival purposes
.haxelib/*

# old versions, created when refactoring.
*-old*

# raw asset files, working directory for assets.
*res.raw
*res.source
res/.tmp

# saved screenshots, development gifs, etc ...
# included locally with the project
*press/*
sketches/*

# local save files for the game.
*.sav

# local management stuff
*.code-workspace